#merah{
    background-color: #f8EEE7;
}
.header{
    position: static;
    height: 30%;
    width: 100%;
    font-family: 'Chilanka', cursive;
    font-size: 200%;
    padding: 5% 0% 0% 70%;
    color: black;
}
body{
    background-color: lightgray; 
    max-width: 100%;
    overflow: hidden;
}
p{
    font-family: 'Chilanka', cursive;
    text-align: justify;
}
blockquote{
    font-size: 110%;
}

.box1{
    position: static;
    height: 70%;
    width: 100%;
    background-color: #f4decb;
}

.box2{
    position: absolute;
    height  : 53%;
    width   : 60%;
    background-color:lightgray; 
    top     : 32%;
    left    : 30%;
    padding : 0% 0% 0% 3%;
    border: 2px solid black;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    

}
.gambarmuka{
    position: absolute;
    background-image: url("https://scontent-sin6-2.xx.fbcdn.net/v/t1.0-9/71278869_2223036521138480_3223245227615584256_n.jpg?_nc_cat=107&_nc_oc=AQlgiZVSGBoXeytPpVyNePAxRKdQ4w5SZHrmZfzVEKTMcGb5v8I1Do1iverPHrYojH8&_nc_ht=scontent-sin6-2.xx&oh=9d51eaac419117d8a0644418a7989154&oe=5E007229");
    overflow:hidden;
    width   : 30%;
    height  : 53%;
    top: 32%;
    left: 6%;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    
    border: 2px solid black;
}

.box3{
    position: absolute;
    height  : 36%;
    width   : 41%;
    top     : 60%;
    left    : 52%;
    padding: 2% 2% 0% 2%;
    overflow: hidden;
    font-size: 140%;
    background-color: rgb(201, 201, 201);
    color:#1d1b1b;
    border-radius: 100px;
    
    border: 2px solid black;
}
.logo1{
    position: absolute;
    top: 90%;
    left: 5%;
}
.absolute{
    position: absolute;
}
.tab {
    top: 12%;
    left: 10%;
    z-index: 5;
    
}

.tab li{
    padding: 10px 30px;
    display: inline-block;
    font-size: 30px;
    
    
}

.tab li:hover{
    background-color: #ec4d37;
    border-radius: 30px;
}
.tab ul{
    background-color: rgb(201, 201, 201);
    margin: 0;
    padding: 0;
    list-style: none;
    border-radius: 30px;
    
    border: 2px solid black;
}
.tab ul a{
    color: #1d1b1b;
    text-decoration: none;
}
.lain-lain {
    display: none;
}
.lain-lain:target {
    display: unset;
}

.box4{
    position: absolute;
    height  : 23%;
    width   : 61%;
    top     : 30%;
    left    : 18%;
    padding: 2% 2% 0% 2%;
    overflow: hidden;
    font-size: 140%;
    background-color: rgb(201, 201, 201);
    color:#1d1b1b;
    border-radius: 50px;
    border: 2px solid black;
}

.box5{
    position: absolute;
    height  : 20%;
    width   : 40%;
    background-color:lightgray; 
    top     : 53%;
    left    : 6%;
    padding : 0% 0% 0% 3%;
    border-radius: 80px;
    border: 2px solid black;
}
.box5:hover{
    background-color: rgb(201, 201, 201);
}
.box6:hover{
    background-color: rgb(201, 201, 201);
}.box7:hover{
    background-color: rgb(201, 201, 201);
}.box8:hover{
    background-color: rgb(201, 201, 201);
}

.box6{
    position: absolute;
    height  : 20%;
    width   : 40%;
    background-color:lightgray; 
    top     : 59%;
    left    : 50%;
    padding : 0% 0% 0% 3%;
    border-radius: 80px;
    border: 2px solid black;
}

.box7{
    position: absolute;
    height  : 20%;
    width   : 40%;
    background-color:lightgray; 
    top     : 76%;
    left    : 6%;
    padding : 0% 0% 0% 3%;
    border-radius: 80px; 
    border: 2px solid black;
}

.box8{
    position: absolute;
    height  : 20%;
    width   : 40%;
    background-color:lightgray; 
    top     : 83%;
    left    : 50%;
    padding : 0% 0% 0% 3%;
    border-radius: 80px;
    border: 2px solid black;
}

.box9{
    position: absolute;
    height  : 66%;
    width   : 70%;
    background-color:lightgray; 
    top     : 39%;
    left    : 15%;
    padding : 0% 0% 0% 0%;
    border-radius: 18px;
    overflow-y: scroll;
    overflow-x: hidden;
    border: 2px solid black;
}

.box10{
    position: absolute;
    height  : 10%;
    width   : 30%;
    background-color:lightgray; 
    top     : 27%;
    left    : 33%;
    padding : 0% 0% 0% 3%;
    border-radius: 80px; 
    border: 2px solid black;
}

.box11{  position: absolute;
    height  : 68%;
    width   : 70%;
    background-color:lightgray; 
    top     : 32%;
    left    : 11.5%;
    padding : 2% 4% 0% 4%;
    border-radius: 80px; 
    overflow-y : scroll;
    overflow-x : hidden;
    border: 2px solid black;

}

.box12{
    position: absolute;
    height  : 60%;
    width   : 62%;
    background-color:lightgray; 
    top     : 39%;
    left    : 15%;
    padding : 0% 0% 0% 0%;
    border-radius: 18px;
    overflow-y: hidden;
    overflow-x: hidden;
    border: 2px solid black;
   padding-top: 30px;
   padding-left: 30px;

}

.gambarkalkulator{
    position: absolute;
    height : 50%;
    width : 40%;
    top : 37%;
    left : 45%;
    z-index: 2;
}

#x, #y, #z{
 height: 50px;
 width: 200px;
 font-size: 30px;

}
.hasilnya{
    margin-left: 20px;
}